@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

notification {
  min-height: 35px;
}

notification[type="info"] {
  background-color: yellow;
}

notification[type="warning"] {
  background-color: orange !important;
}

notification[type="critical"] {
  background-color: red;
}

.messageImage {
  width: 16px;
  height: 16px;
  margin: 0px 1px 0px 6px;
}

.messageText {
  -moz-margin-start: 5px;
}

.messageButton {
  margin: 0px 5px 0px 5px;
}

.notification-inner {
  border: 0 !important;
}

.messageCloseButton {
  -moz-appearance: none;
  list-style-image: url("chrome://songbird/skin/notification-bar/button-close.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px);
}
.messageCloseButton:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}
.messageCloseButton:active {
  -moz-image-region: rect(32px 16px 48px 0px);
}
.messageCloseButton[disabled="true"] {
  -moz-image-region: rect(48px 16px 64px 0px) !important;
}


.messageCloseButton > .toolbarbutton-text {
  display: none;
}

notification[type="warning"]
{
}

.messageText,
.messageText:hover,
.messageText:active
{
}

notification > button {
  margin:0;
}

notification > button > .button-box > .button-text
{
}

notification > button:hover > .button-box > .button-text
{
}

notification > button:active > .button-box > .button-text
{
}

notification > button:active
{
}