html, body {
	width:100%;
	height:100%;
	background-color:#444;
	text-align:center;
	overflow:hidden;
	font-size:10px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#infovis {
	background-color:#222;
	width:900px;
	height:500px;
}

.node {
	/*border: 1px solid #555;*/
	background-color: #222;
	color:pink;
	font-weight:bold;
	cursor:pointer;
	padding:2px;
}