/*//////SPACETREE///////*/
html, body {
	width:100%;
	height:100%;
	background-color:#444;
	text-align:center;
	overflow:hidden;
	font-size:9px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin:0;padding:0;
}

#infovis {
	background-color:#222;
}

a, a:link, a:visited {
	color:#343439;
}

.node {
	display:block;
	background-color:transparent;
	z-index:10;
	font-weight:bold;
	overflow:hidden;
	text-decoration:none;
	position:absolute;
	text-align:center;
	padding:4px 0 0 0;
}

.node:hover {
	color:#393434;
}

.hidden{
	display:none;
}

.text {
	margin:5px 0;
}