richlistbox#extensionsView {
  background-color: transparent;
}

richlistbox#extensionsView > scrollbox {
  border-right: 1px solid rgb(42,42,53);
}

richlistbox richlistitem {
  background-color: rgb(51,51,51);
  border-bottom: 1px solid rgb(36,35,41);
}

richlistbox richlistitem[selected="true"] {
  background-image: url(chrome://songbird/skin/base-elements/bg-selected-row-big-unfocused.png);
}

richlistbox:focus richlistitem[selected="true"] {
  background-image: url(chrome://songbird/skin/base-elements/bg-selected-row-big.png);
}

#addonsMsg > notification {
	/* BLUE */
  border-top: 1px solid rgb(47,95,130);
  border-left: 1px solid rgb(47,95,130);
  border-right: 1px solid rgb(47,95,130);
  border-bottom: none;
  margin-bottom: -1px;
  padding: 0px;
}
#addonsMsg > notification > .notification-inner {
  padding: 3px 8px;
}
#addonsMsg > notification[type="info"] > .notification-inner {
  border-top: 1px solid rgb(125,154,86) !important;
  border-bottom: 1px solid rgb(70,98,26) !important;
}
#addonsMsg > notification[type="warning"] > .notification-inner {
  border-top: 1px solid rgb(208,120,39) !important;
  border-bottom: 1px solid rgb(147,78,4) !important;
}
#addonsMsg > notification[type="critical"] > .notification-inner {
  border-top: 1px solid rgb(183,93,132) !important;
  border-bottom: 1px solid rgb(128,42,69) !important;
}

#topBar > deck {
  -moz-binding: url(chrome://songbird/content/bindings/prefwindow.xml#sb-deck);
}
