/* import the default rubberducky styling */

@import url(chrome://rubberducky/skin/global.css);

window {
    padding: 0.5em;
}

.alertBox {
  min-height: 50px;
}

.alertBox[orient="horizontal"] > .alertImageBox {
  -moz-margin-start: 4px;
  -moz-margin-end: 6px;
  min-height: 46px;
}

.alertBox[orient="vertical"] > .alertImageBox {
  margin-top: 6px;
  margin-bottom: 4px;
  min-width: 46px;
}

.alertTitle {
  font-weight: bold;
}

.alertText {
  -moz-margin-end: 6px;
}

.alertText[clickable="true"] {
  cursor: pointer;
  color: #1455D6;
  text-decoration: underline;
}

.alertText[clickable="true"]:hover:active {
  color: #424F63;
}

.alertBox[orient="horizontal"] > .alertTextBox {
  -moz-padding-end: 10px;
  padding-top: 5px;
}

.alertBox[orient="vertical"] > .alertTextBox {
  -moz-padding-start: 5px;
  -moz-padding-end: 5px;
  margin-bottom: 8px;
  -moz-box-align: center; /* also hard-coded in alert.js, see bug 311557 */
}
