# Autodetect text files
* text=lf

# Overrides

# Text files
*.txt text
*.c text
*.cpp text
*.h text
*.js text
*.jsm text
*.sh text
*.idl text
*.in text
*.sql lf
*.css text
*.xul text
*.xml text
*.config text

# Windows files...
*.bat eol=crlf
*.def eol=crlf
*.exp eol=crlf
*.vcproj eol=crlf
*.vcxproj* eol=crlf
*.vsprops eol=crlf
*.props eol=crlf
*.dsp eol=crlf
*.dsw eol=crlf
*.sln eol=crlf
*.rc eol=crlf
*/VS20*/* eol=crlf
*/win32/* eol=crlf
*/vstudio/* eol=crlf
*.win32 eol=crlf
tools/win32/* eof=crlf

# Binaries
*.a binary
*.o binary
*.so binary
*.dll binary
*.exe binary
*.obj binary
*.lib binary
*.svg binary
*.tar binary
*.xz binary
*.bz2 binary
*.gz binary
*.zip binary
*.bmp binary
*.png binary
*.jpg binary
*.mp3 binary
*.mp4 binary
*.m4a binary
*.wma binary
*.wmv binary
*.wav binary
*.flac binary
*.ogg binary

