dependencies/linux*
.DS_Store
dependencies/*.zip
dependencies/*.tar.???
dependencies/*.tar.????
dependencies/**/*
tools/win32/reshacker/ResHacker.ini
tools/win32/reshacker/ResHacker.log
songbirdconfig.out
compiled/
configure
nightingale.config
songbird.config
nightingale.config
autom4te.cache
songbird.config
configure
compiled
.songbirdconfig.mk
.songbirdconfig.out
.svn
.nightingaleconfig.mk
.nightingaleconfig.out
compiled-release*
