dependencies/vendor
dependencies/*.zip
dependencies/*.lzma
nightingale.config
autom4te.cache
songbird.config
configure
dependencies/linux-i686*
dependencies/linux-x86_64*
compiled
.songbirdconfig.mk
.songbirdconfig.out
.svn
.nightingaleconfig.mk
.nightingaleconfig.out
compiled-release*
