ac_add_options --with-media-core=gstreamer-system
ac_add_options --with-media-core=gstreamer-system
ac_add_options --with-media-core=gstreamer-system
ac_add_options --with-media-core=gstreamer-system
ac_add_options --with-media-core=gstreamer-system
ac_add_options --with-media-core=gstreamer-system
ac_add_options --with-media-core=gstreamer-system
ac_add_options --with-media-core=gstreamer-system
