description,
caption,
label
{
  color: rgb(40,40,40);
}


radiogroup {
  padding:4px;
  background-color:transparent;
  border:1px solid gray;
  -moz-border-radius:3px;
}




groupbox {
  background-color:white;
  border:1px solid gray;
  -moz-border-radius:3px;
}
.groupbox-body {
  padding: 8px !important;
  margin: 0;
}
.groupbox-title {
  padding:0 !important;
  margin:0 !important;
}
groupbox caption {
  padding:0 !important;
  margin:0 !important;
  background-color:rgb(235,235,235) !important;

  background-color: rgb(225,225,225);
  background-image: url('chrome://songbird/skin/base-elements/bg-table-header.png');
  background-position:center 0px;
  background-repeat:repeat-x;

  border:1px solid gray !important;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -moz-box-flex:1 !important;
}
.caption-text {
  font-size:9px !important;
}


separator {
  padding:4px 0;
}