description,
caption,
label
{
  color: rgb(40,40,40);
}


radiogroup {
  padding:4px;
  background-color:transparent;
  border:1px solid gray;
  -moz-border-radius:3px;
}




groupbox {
  background-color:white;
  border:1px solid gray;
  -moz-border-radius:3px;
}
.groupbox-body {
  padding: 4px;
  margin: 0;
}
.groupbox-title {
  background-color:rgb(235,235,235) !important;
  border:1px solid gray;
  border-bottom:none;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  padding:0;
  margin:0;
}
groupbox caption {
  border-bottom:none !important;
  padding:0 !important;
  margin:0 !important;
}
.caption-text {
  font-size:9px !important;
}


separator {
  border-top:1px solid red;
  padding:4px 0;
}