@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.tabbrowser-tab:hover > .tab-image-middle > .tab-icon > .tab-extra-status {
  background: none;
}

.tab-icon {
  padding-top: 1px;
  margin: 2px 0px 1px 0px;
}

.tabbrowser-tab {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#tabbrowser-tab") !important;
  -moz-appearance: none;
  -moz-box-pack: center;
}

.tabbrowser-tab[selected="true"] {
  -moz-user-focus: normal;
}

.tabbrowser-tab > .tab-image-middle > .tab-text {
  border: 0.5pt solid transparent;
}

.tabbrowser-tab:focus > .tab-image-middle > .tab-text {
  border: 0.5pt dotted white;
}

.tabbrowser-tab[selected="true"], .tabbrowser-tab:hover {
  color: #000000;
}

.tabbrowser-tab[first-tab="true"] {
  margin-left: 3px !important;
}

.tab-image-left, .tab-image-right {
  width: 8px;
  margin: 0px;
  padding: 0px;
}

.tabbrowser-tab > .tab-image-middle {
  -moz-box-flex: 0 !important;
}


/* ::::: close button ::::: */
/**
 * XXXben - this looks like something added specifically for tabbrowser.
 *       if it turns out no one uses this that can't easily be evangelized to
 *       use their own roll-your-own binding, then we should get rid of this
 *       to tighten up the toolkit api. This binding made obsolete in Firefox
 *       by 308396. 
 */
.tabs-closebutton {
  padding: 0px 4px 2px 0px;
  margin: 0px;
  border: none !important;
}

.tabs-closebutton:hover {
  border: none !important;
}

.tabs-closebutton:hover:active {
  border: none !important;
}

.tabbrowser-strip {
  -moz-box-orient: vertical !important;
  -moz-appearance: dialog;
}

.tabbrowser-tabs {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#tabbrowser-tabs");
  border: none;
  padding: 0;
  margin: 0;
  -moz-box-pack: center;
  -moz-box-align: center;
}

.tab-image-right, .tab-image-left {
  height: 18px !important;
}

sb-tabbrowser > tabbox > tabpanels {
  -moz-appearance: none !important;
}

.tab-drop-indicator-bar {
   display:none;
   height: 9px;
   margin-top: -9px;
   position: relative;
}

.tab-drop-indicator {
   height: 9px;
   width: 9px;
   margin-bottom: -5px;
   position: relative;
   background: url('chrome://global/skin/tabDragDrop/tabDragIndicator.png') 50% 50% no-repeat;
}

.tab-drop-indicator-bar[dragging="true"] {
   display: -moz-box;
}

/**
 * In-tab close button
 */
.tab-close-button > .toolbarbutton-icon {
  -moz-margin-end: 0px !important;
  margin-top: 2px;
}

.tabbrowser-tab > .tab-close-button {
  background-repeat: repeat-x;
  -moz-margin-start: -5px;
  -moz-margin-end: -1px;
  -moz-padding-end: 0px;
}

.tabbrowser-tab[selected="true"] > .tab-close-button {
  /* Make this button focusable so clicking on it will not focus the tab while
     it's getting closed */
  -moz-user-focus: normal;
}

.tabbrowser-tab:not([selected="true"]) > .tab-close-button {
  margin-bottom: 1px;
}

.tab-close-button {
  list-style-image: url("chrome://songbird/skin/tabs/close.png") !important;
  -moz-image-region: rect(0px 36px 9px 27px);-moz-appearance: none;
  padding: 0px;
  background: transparent !important;
  background-image: none  !important;
  cursor: default;
  border: none !important;
}

.tab-close-button:hover,
.tabbrowser-tab[selected="true"] > .tab-close-button:hover {
  list-style-image: url("chrome://songbird/skin/tabs/close.png") !important;
  -moz-image-region: rect(0px 18px 9px 9px);  
}

.tab-close-button:hover:active,
.tabbrowser-tab[selected="true"] > .tab-close-button:hover:active {
  list-style-image: url("chrome://songbird/skin/tabs/close.png") !important;
  -moz-image-region: rect(0px 9px 9px 0px);
}

.tabbrowser-tab > .tab-close-button {
  background: none;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-end: 0px;
}

.tabbrowser-tab:not([selected="true"]) > .tab-close-button {
  background: none;
  margin-bottom: 1px;
}

.tabbrowser-tab:not([selected="true"]):hover > .tab-close-button {
  background: none;
}


/**
 * Tab Scrollbox Arrow Buttons
 */

.tabbrowser-arrowscrollbox > .scrollbutton-up {
  width: 18px;
  height: 18px;
  margin: 4px 1px 3px 0px;
  padding-left: 0;
  padding-right: 0;
  border: none !important;
  background-color: transparent !important;
  -moz-background-clip: padding !important;  
  background-image: url(chrome://songbird/skin/backgrounds/chrome_gradient_10percent.png);
  list-style-image: url("chrome://songbird/skin/arrow/arrow_left.png");
}

.tabbrowser-arrowscrollbox > .scrollbutton-up[disabled="true"] {
  list-style-image: url("chrome://songbird/skin/arrow/arrow_left_disabled.png");
}

.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled="true"]):hover {
  background-image: url(chrome://songbird/skin/backgrounds/chrome_gradient_25percent.png);
  list-style-image: url("chrome://songbird/skin/arrow/arrow_left_disabled.png");
}
 
.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled="true"]):hover:active {
  background-image: url(chrome://songbird/skin/backgrounds/chrome_gradient_25percent.png);
  list-style-image: url("chrome://songbird/skin/arrow/arrow_left_hover.png");
}

.tabbrowser-arrowscrollbox > .scrollbutton-up > .toolbarbutton-icon {
  margin-top: 4px;
}

.scrollbutton-rel-box > .scrollbutton-down-box {
  margin: 4px 0px 3px 0px;
  width: 18px;
  height: 18px;
}

.scrollbutton-rel-box > .scrollbutton-down {
  margin: 4px 0px 3px 1px;
  width: 18px;
  height: 18px;
  background-color: transparent !important;
  border-left: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: none;
  -moz-background-clip: padding !important;  
  background-image: url(chrome://songbird/skin/backgrounds/chrome_gradient_10percent.png);
  list-style-image: url("chrome://songbird/skin/arrow/arrow_right.png");
}

.scrollbutton-rel-box > .scrollbutton-down[disabled="true"] {
  list-style-image: url("chrome://songbird/skin/arrow/arrow_right_disabled.png");
}

.scrollbutton-rel-box > .scrollbutton-down:not([disabled="true"]):hover {
  background-image: url(chrome://songbird/skin/backgrounds/chrome_gradient_25percent.png);
  list-style-image: url("chrome://songbird/skin/arrow/arrow_right_disabled.png");
}

.scrollbutton-rel-box > .scrollbutton-down:not([disabled="true"]):hover:active {
  background-image: url(chrome://songbird/skin/backgrounds/chrome_gradient_25percent.png);
  list-style-image: url("chrome://songbird/skin/arrow/arrow_right_hover.png");
}

.scrollbutton-rel-box > .scrollbutton-down > .toolbarbutton-icon {
  margin-top: 4px;
  -moz-margin-start: 1px;
}

/**
 * All Tabs Button
 */

.tabs-alltabs-box {
  margin: 4px 0px 3px 0px;
  width: 16px;
  height: 18px;
}

.tabs-alltabs-button {
  margin: 4px 0px 3px 0px;
  width: 16px;
  height: 18px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  background-color: transparent !important;
  -moz-background-clip: padding !important;  
  background-image: url(chrome://songbird/skin/backgrounds/chrome_gradient_10percent.png);  
}

.tabs-alltabs-button  > .toolbarbutton-menu-dropmarker {
  margin-top: 4px;
}

.tabs-alltabs-button  > .toolbarbutton-text {
  display: none;
}

.tabs-alltabs-button:hover {
  margin: 4px 0px 3px 0px;
  background-image: url(chrome://songbird/skin/backgrounds/chrome_gradient_25percent.png);
}


/**
 * All Tabs Menupopup 
 */

.alltabs-item > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
  list-style-image: url("chrome://global/skin/icons/small-globe-sunken.png");
}

.alltabs-item[selected="true"] {
  font-weight: bold;
}

.alltabs-item[busy] > .menu-iconic-left > .menu-iconic-icon {
  list-style-image: url("chrome://global/skin/icons/loading_16_grey.gif") !important;
}







/* ::::: close button ::::: */
/**
 * XXXben - this looks like something added specifically for tabbrowser.
 *       if it turns out no one uses this that can't easily be evangelized to
 *       use their own roll-your-own binding, then we should get rid of this
 *       to tighten up the toolkit api. This binding made obsolete in Firefox
 *       by 308396. 
 */
.tabs-closebutton {
  padding: 0px 4px 2px 0px;
  margin: 0px;
  list-style-image: url("chrome://songbird/skin/tabs/close.png") !important;
  -moz-image-region: rect(0px 36px 9px 27px);
  border: none !important;
}

.tabs-closebutton:hover {
  list-style-image: url("chrome://songbird/skin/tabs/close.png") !important;
  -moz-image-region: rect(0px 18px 9px 9px);
  border: none !important;
}

.tabs-closebutton:hover:active {
  list-style-image: url("chrome://songbird/skin/tabs/close.png") !important;
  -moz-image-region: rect(0px 9px 9px 0px);
  border: none !important;
}

