/* ===== datetimepicker.css ==============================================
   == Styles used by the XUL datepicker and timepicker elements.
   ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
