box {
  background-color:rgb(220,220,220);
  background-image: url('chrome://songbird/skin/display-pane/bg-empty.png');
}

.instructions {
  padding:8px;
}

.instructions description,
.instructions label {
  margin:0px;
  padding:0px;
}

.instructions description {
  color:gray;
  text-align:center;
  -moz-border-radius:8px;
  background-color:rgb(235,235,235);
  border:1px solid rgb(200,200,200);
}
.instructions image {
  vertical-align:top;
}

.instructions div {
  padding:10px;
}