dropmarker {
  width: 16px;
  -moz-box-align: center;
  -moz-box-pack: center;
  border: none;
  background-color: transparent;
  padding: 1px;
  -moz-image-region: auto;
}

dropmarker:hover:active {
  padding: 2px 0 0 2px !important;
}

dropmarker[disabled="true"] {
  list-style-image: url("chrome://songbird/skin/arrow/arrow-down-disabled.png") !important;
  padding: 1px;
}

.dropmarker-icon
{
  list-style-image: url("chrome://songbird/skin/arrow/arrow-down.png");
}
