@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: find toolbar ::::: */

findbar {
  border-top: 1px solid #474948; /** Rubber Highlight */
  border-bottom: 1px solid #202220; /** Button Shadow */
  min-height:29px;
}
findbar > label,
findbar > toolbarbutton > .toolbarbutton-text,
findbar > .find-buttons-container > toolbarbutton > .toolbarbutton-text,
findbar > checkbox > .checkbox-label-box,
findbar > .find-field-container > textbox.findbar-textbox,
findbar > description.findbar-find-status {
  font-size:10px;
}

/* buttons - next, previous, highlight */
findbar > toolbarbutton,
findbar > .find-buttons-container > toolbarbutton {
	padding:1px 4px 2px;
	margin:2px 8px 2px 0;
}
findbar > toolbarbutton > .toolbarbutton-icon,
findbar > .find-buttons-container > toolbarbutton > .toolbarbutton-icon {
  height: 16px !important;
  padding:0;
  margin:0 4px 0 0;
}
findbar > toolbarbutton > .toolbarbutton-text,
findbar > .find-buttons-container > toolbarbutton > .toolbarbutton-text,
findbar > checkbox > .checkbox-label-box {
  height: 16px !important;
  padding: 2px 0 0 0;
  margin:0;
}

/* match case checkbox */
findbar > checkbox {
  margin-right:10px;
}
findbar .checkbox-check {
  -moz-appearance: checkbox-small;
  margin:1px 4px 0 0;
}

/* input textbox */
findbar > .find-field-container > textbox.findbar-textbox {
  -moz-binding: url("chrome://global/content/bindings/findbar.xml#findbar-textbox");
  -moz-appearance: none;
  min-height: 21px !important;
  width: 150px !important;
  margin:0 8px 0 0 !important;
  padding: 3px 4px 1px;
}
findbar > .find-field-container > textbox.findbar-textbox[status="notfound"] {
  color: #ff7f7f !important; /* pink-ish red */
}

/* close button */
findbar > toolbarbutton.findbar-closebutton {
  border:none !important;
  padding:0;
  margin:0 8px;
  list-style-image: url("chrome://songbird/skin/tabs/close.png") !important;
  -moz-image-region: rect(0px 36px 9px 27px);
  max-height:9px;
  max-width:9px;
}
findbar > toolbarbutton.findbar-closebutton:hover {
  -moz-image-region: rect(0px 18px 9px 9px);  
}
findbar > toolbarbutton.findbar-closebutton:hover:active {
  -moz-image-region: rect(0px 9px 9px 0px);
}

/* find-next button */
findbar > .find-buttons-container > toolbarbutton.findbar-find-next {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}
findbar > .find-buttons-container > toolbarbutton.findbar-find-next:hover {
  -moz-image-region: rect(16px 16px 32px 0px) !important;
}
findbar > .find-buttons-container > toolbarbutton.findbar-find-next[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
}

/* find-previous button */
findbar > .find-buttons-container > toolbarbutton.findbar-find-previous {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}
findbar > .find-buttons-container > toolbarbutton.findbar-find-previous:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}
findbar > .find-buttons-container > toolbarbutton.findbar-find-previous[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px) !important;
}

/* highlight button */
findbar > toolbarbutton.findbar-highlight {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 48px 16px 32px);
}
findbar > toolbarbutton.findbar-highlight:hover {
  -moz-image-region: rect(16px 48px 32px 32px);
}
findbar > toolbarbutton.findbar-highlight[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px) !important;
}
findbar > toolbarbutton.findbar-highlight:active, findbar > .findbar-highlight[checked="true"] {
  -moz-image-region: rect(48px 48px 64px 32px);
}
findbar > toolbarbutton.findbar-highlight[checked="true"]:hover {
  -moz-image-region: rect(64px 48px 80px 32px);
}
findbar > toolbarbutton.findbar-highlight[checked="true"] {
  border-top: 1px solid #202220 !important; /** Button Shadow */ 
  border-left: 1px solid #202220 !important; /** Button Shadow */ 
  border-bottom: 1px solid #797f76 !important; /** Button Highlight */
  border-right: 1px solid #202220 !important; /** Button Shadow */ 
  background-color:transparent;
}

findbar .checkbox-icon,
findbar > toolbarbutton.findbar-closebutton > .toolbarbutton-text,
findbar > image.find-status-icon {
  display: none;
}