/* ===== textbox.css =====================================================
   == Styles used by the XUL textbox element.
   ======================================================================= */
  
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

html|*.textbox-input, 
html|*.textbox-textarea {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  font: inherit;
  color: inherit;
}