/* ===== tree.css ========================================================
   == Styles used by the XUL outline element.
   ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/** Note: 
    
    These rules MUST live in global/tree.css, as this file is 
    included directly into tree.xml, and if the rules are elsewhere the
    [sortActive=] selectors will not work when XUL cacheing is enabled.
    
    See bugs like https://bugzilla.mozilla.org/show_bug.cgi?id=76195
    and maybe https://bugzilla.mozilla.org/show_bug.cgi?id=433533    
 **/

treecol,
treecols,
treecolpicker {
  background-image: url('chrome://songbird/skin/base-elements/bg-table-header.png');
  background-position:center 0px;
  background-repeat:repeat-x;
}

treecol:hover,
treecolpicker:hover {
  background-position:center -20px;
}
treecol:active,
treecolpicker:active {
  background-position:center -40px;
}

treecol[sortActive="true"] {
  background-position:center -60px;
}
treecol[sortActive="true"]:hover {
  background-position:center -80px;
}
treecol[sortActive="true"]:active {
  background-position:center -100px;
}

.treecol-sortdirection[sortDirection="ascending"] {
  list-style-image:url("chrome://songbird/skin/base-elements/icon-sort-ascending.png") !important;
  margin-left: 4px;
}
.treecol-sortdirection[sortDirection="descending"] {
  list-style-image:url("chrome://songbird/skin/base-elements/icon-sort-descending.png") !important;
  margin-left: 4px;
}

.sb-filterlist-tree treecol[sortActive="true"] {
  background-position:center 0px;
}
.sb-filterlist-tree treecol[sortActive="true"]:hover {
  background-position:center -20px;
}
.sb-filterlist-tree treecol[sortActive="true"]:active {
  background-position:center -40px;
}

