@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/**

Warning!

The XUL layout of a wizard depends on the current platform.
This CSS file is preprocessed to include platform specific rules
and make sure that the padding and margins are correct. 

If you've opened this file from a built songbird jar you should
also look at "app/skin/global/wizard.css" in the Songbird subversion 
repository.  See http://publicsvn.songbirdnest.com

**/



%ifdef XP_MACOSX

/** Mac OSX wizard rules: **/ 


wizard {
	padding: 0px;
}

#header { 
	display: inline !important;
}
.wizard-header {
	-moz-appearance: dialog;
}

.wizard-header-box-1 {
  color: #000000;
}

.wizard-header-box-text {
  padding: 6px 10px 6px 10px;
  font: menu;
  font-weight: bold;
}

.wizard-header-label {
  font-weight: bold;
}

wizard[branded="true"] .wizard-header-icon {
  list-style-image: url("chrome://branding/content/icon48.png");
}

.wizard-page-box {
  padding: 15px 23px;
    -moz-appearance: dialog;
}

.wizard-buttons-separator {
  margin: 0 !important;
  border-bottom: 1px solid #FFFFFF !important;
}

.wizard-buttons-btm {
  padding: 3px 6px 6px 6px;
}

.wizard-label-box {
  display: none;
}

.wizard-button {
  font: menu !important;
}



%else

/** Windows/Linux wizard rules: **/ 

.wizard-header {
  border-bottom: 1px solid white;
  color: WindowText;
}

.wizard-header-box-1 {
  padding: 5px 10px 5px 10px;
}

wizard[description=""] .wizard-header-description {
  display: none;
}

.wizard-header-label {
  -moz-margin-start: 6px;
  font-weight: bold;
}

.wizard-header-description {
  -moz-margin-start: 6px;
}

wizard[branded="true"] .wizard-header-icon {
  list-style-image: url("chrome://branding/content/icon48.png");
}

.wizard-page-box {
  margin: 10px 44px;
}

.wizard-buttons-separator {
  margin-bottom: 0px !important;
}

.wizard-buttons-box-2 {
  margin: 10px;
}

.wizard-button[wizardbutton="finish"],
.wizard-button[wizardbutton="next"] {
  -moz-margin-start: -1px !important;
}

.wizard-button[wizardbutton="back"] {
  -moz-margin-end: 0px !important;
}

wizard,
{
  background-color: #313131 !important; /* color of the Main Window coffee:#1f150a, 0.3 black #0c0a05**/
}

%endif

