/* ::::: page report button (blocked popup windows button in statusbar) ::::: */

#page-report-button > image {
  list-style-image: none;
}

#page-report-button {
  width: 18px;
  display: none;
}

#page-report-button[blocked] > image {
  list-style-image: url("chrome://global/skin/icons/icon-blocked-popup-statusbar.png");
  -moz-image-region: rect(0px, 14px, 14px, 0px);
  display: -moz-box;
}
#page-report-button[blocked]:hover > image {
  -moz-image-region: rect(14px, 14px, 28px, 0px);
}

#page-report-button[blocked] {
  display: -moz-box;
}

