@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: scale ::::: */

scale
{
  border: 1px solid #7a7c7c; /** Light Border 1 */
  -moz-border-radius: 5px;
}

.scale-slider {
  background: url("chrome://global/skin/scale/scale-tray-horiz.png") 0% 50% repeat-x;
  margin: 2px 4px;
  width: 100px;
}

.scale-slider[orient="vertical"]
{
   background: url("chrome://global/skin/scale/scale-tray-vert.png") 50% 0% repeat-y;
  margin: 4px 2px;
  width: 10px;
  height: 100px;
}

/* ::::: scale thumb ::::: */

.scale-thumb {
  min-width: 10px;
  min-height: 10px;
  -moz-border-radius: 5px;
  background-color: #202220; /** Dark Color 1 */
  border: 1px solid !important;
  border-top: #ccd4c7 !important;
  border-right: #888f85 !important;
  border-bottom: #888f85 !important;
  border-left: #ccd4c7 !important;
  padding: 0;
  margin: 0;
}

.scale-thumb[orient="vertical"] {
  min-width: 10px;
  min-height: 10px;
  -moz-border-radius: 5px;
  background-color: #202220; /** Dark Color 1 */
  border: 1px solid !important;
  border-top: #ccd4c7 !important;
  border-right: #888f85 !important;
  border-bottom: #888f85 !important;
  border-left: #ccd4c7 !important;
}

.scale-thumb[disabled="true"] {
}
