@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/*
 * Scroll buttons
 */
 
/* Horizontal enabled */
.autorepeatbutton-up[orient="horizontal"],
.scrollbutton-up[orient="horizontal"]
 {
   list-style-image      : url("chrome://songbird/skin/scrollbox/scroll-left.png");
 }
 
.autorepeatbutton-down[orient="horizontal"],
.scrollbutton-down[orient="horizontal"]
  {
    list-style-image     : url("chrome://songbird/skin/scrollbox/scroll-right.png");
  }

/* Horizontal disabled */
.autorepeatbutton-up[orient="horizontal"][disabled="true"],
.scrollbutton-up[orient="horizontal"][disabled="true"]
 {
   list-style-image      : url("chrome://songbird/skin/scrollbox/scroll-left-disabled.png");
 }
 
.autorepeatbutton-down[orient="horizontal"][disabled="true"],
.scrollbutton-down[orient="horizontal"][disabled="true"]
  {
    list-style-image     : url("chrome://songbird/skin/scrollbox/scroll-right-disabled.png");
  }

/* Vertical enabled */
.autorepeatbutton-up
 {
   list-style-image      : url("chrome://songbird/skin/scrollbox/scroll-up.png");
   padding-bottom: 5px;
 }

.autorepeatbutton-down
 {
   list-style-image     : url("chrome://songbird/skin/scrollbox/scroll-down.png");
   padding-top: 5px;
 }

.scrollbutton-up
 {
   list-style-image      : url("chrome://songbird/skin/scrollbox/scroll-up.png");
 }

.scrollbutton-down
  {
    list-style-image     : url("chrome://songbird/skin/scrollbox/scroll-down.png");
  }

/* Vertical disabled */
.autorepeatbutton-up[disabled="true"]
 {
   list-style-image      : url("chrome://songbird/skin/scrollbox/scroll-up-disabled.png");
 }

.autorepeatbutton-down[disabled="true"]
 {
   list-style-image      : url("chrome://songbird/skin/scrollbox/scroll-down-disabled.png");
 }

.scrollbutton-up[disabled="true"]
 {
   list-style-image      : url("chrome://songbird/skin/scrollbox/scroll-up-disabled.png");
 }

.scrollbutton-down[disabled="true"]
  {
    list-style-image     : url("chrome://songbird/skin/scrollbox/scroll-down-disabled.png");
  }

.scrollbutton-up > .toolbarbutton-text,
.scrollbutton-down > .toolbarbutton-text {
  display: none;
}

autorepeatbutton
  {
    -moz-box-align       : center;
    -moz-box-pack        : center;
    padding: 1px;
    margin: 1px 2px;
  }
