/********** Tab widget *********/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



/** TODO: Completely replace this mess! **/


/*** TAB: TOP <tab> ***/

tab,
.tabbrowser-tab
{
  -moz-appearance: tab;
  -moz-box-align: stretch;
  -moz-box-pack: center;  
  color: #000000;
  margin: 3px 1px 0px 0px;
  padding: 0px;
  height: 22px !important;
  min-width: 1px !important;
  text-align: center;
  -moz-border-radius-topleft: 5px !important;
  -moz-border-radius-topright: 5px !important;
  -moz-background-clip: padding !important;
  background-color: #313131;
}


.tab-text {
  font-weight: normal !important;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;  
}

tab[selected="true"] > hbox > label.tab-text
{
  font-weight: bold !important;
}



tabs {
  padding			: 0px;
  margin-bottom: -2px;
  border-bottom: 1px solid #797f76;
}


.tabs-left {
	-moz-box-flex: 1 !important;
}

/** TODO Find out if bottom/bottom tabs look ok **/

/*** TAB: BOTTOM <tab class="tab-bottom"> ***/
/* Found in editor.xul & editorOverlay.xul 
 * SMALL TABS FOR NOW */

.tab-bottom {
	margin-bottom: 2px;
  margin-top: 0px;
  -moz-border-radius: 0px 0px 5px 5px !important;
}

.tab-bottom[selected="true"] {
  margin-top: -1px;
}


tab.tabs-bottom {
  padding			: 0px;
}


.tab-bottom > .tab-image-middle {
}

.tab-bottom > .tab-image-middle > .tab-text {
  font-weight		: bold;
  padding           : 0px;
  margin            : 0px !important;
}


.tab-bottom:hover:active > .tab-image-middle { 
  background-color: #666666;
}


/* when a tab is selected this is how it should look */
.tab-bottom[selected="true"] > .tab-image-middle,
.tab-bottom:hover:active[selected="true"] > .tab-image-middle { 
  background-color: #EEEEEE;
}

.tabs-bottom > .tab-border-top-left {
  background-color  : #DEDEDE;
  border-bottom     : 0px;
  border-top        : 3px solid;
  width				: 3px;
}

.tabs-bottom > stack > .tab-border-top-right {
  background-color  : #DEDEDE;
  border-bottom     : 0px;
  border-top        : 3px solid;
}

.tabs-bottom > .tab-border-top-left-cap, .tabs-bottom > .tab-border-top-right-cap {
 background-color  : #DEDEDE;
  border-bottom     : 0px;
  border-top        : 3px solid;
  width				: 1px;
}

/* top tabs */
tabbox[orient="vertical"] tabs[orient="horizontal"] tab { 
  padding: 0px;
  margin: 0px;
}

/* bottom tabs */
tabbox[orient="vertical"] tabpanels + tabs[orient="horizontal"] tab { 
  border-top: none;
  border-bottom: 1px solid blue;
  border-left: 1px solid white;
  border-right: 1px solid #666666;
  -moz-border-radius: 0px 0px 5px 5px !important;
  padding: 1px 5px 3px 5px;
  margin: 1px 2px 1px 2px;
}

	/* left tabs */
tabbox[orient="horizontal"] tabs[orient="vertical"] tab { 
  border-right: none;
  -moz-border-radius: 8px 0px 0px 8px;
  padding-right: 1px;
  margin: 2px 1px 2px 1px;
}

	/* right tabs */
tabbox[orient="horizontal"] tabpanels + tabs[orient="vertical"]  tab { 
  border-top: 1px solid white;
  border-bottom: 1px solid red;
  border-left: none;
  border-right: 1px solid #666666;
  -moz-border-radius: 0px 8px 8px 0px;
  padding: 3px 5px 1px 5px;
  margin: 2px 1px 2px 1px;
}

tabbox { 
  border: none;
}

/* border on bottom only, no padding (used in search) */
tabpanels.light {
  border: none;
  border-bottom: 1px outset #CCCCCC;
  padding: 0px;
}

tabpanels {
  -moz-appearance: tabpanels; 
  padding: 15px 5px 5px 5px;
  background-color		: transparent;
  margin-bottom: 10px;
}

tabstrip-box {
	-moz-appearance: tabpanels;
  margin-top: -1px;
}

.tab-border-top-left, .tabs-left, .tabs-right, .tab-border-top-right {
	-moz-box-flex: 1 !important;
}

.tab-image-middle {
	-moz-box-flex: 0 !important;
}

.tabbrowser-tab:not([selected="true"]) {
  margin-bottom: 1px;
}
.tabbrowser-tab:hover:not([selected="true"]) {
  margin-bottom: 1px;
}
.tabbrowser-tab[selected="true"] {
  -moz-user-focus: normal;
  margin-top: 2px;
}

tab:not([selected="true"]) {
  margin-bottom: 0px;
}
tab:hover:not([selected="true"]) {
  margin-bottom: 0px;
}
tab[selected="true"] {
  -moz-user-focus: normal;
  margin-top: 2px;
  margin-bottom: -1px;
}

.tab-bottom:not([selected="true"]) {
  margin-top: 0px;
}
.tab-bottom:hover:not([selected="true"]) {
  margin-top: 0px;
}
.tab-bottom[selected="true"] {
  margin-top: -1px;
  margin-bottom: 0px;
}


/** The bar between the tabs and the tab panels.  Note that the background is positioned
    so that the tab gradient blends with the bar gradient **/
.tabs-bottom {
  border-top: 1px solid #797f76 !important;
  border-bottom: 0px !important;  
  background-color: #313131;
  height: 3px !important;
  margin: 0px !important;
}

.tabbrowser-tabs {
  margin-bottom: -2px;
  border-bottom: 0px !important;  
}