html, body {
	margin: 0;
	padding: 0;
}
body {
   	font-family: Georgia, 'Century Schoolbook L', Serif;
    color: #333;
    background-color: #FFF; 
    margin: 0;
    padding: 10px;
}
a {
	color: rgb(51, 102, 204);
}
h1, h2, h3, p {
	margin: 0.3em;
}
img {
	border: 0;
}	
hr {
	visibility: hidden;
	clear: both;
	margin: 0;
	padding: 0;
}
	
img.cover { 
	float: left;
	width: 130px; 
	padding: 0px 10px 0px 0px;
}

h1.artist {
	color: rgb(78, 178, 202);
	font-size: 2.0em;
}

h2.album {
	font-size: 1.2em;
}

#album-details {
	float: left;
  	-moz-border-radius: 10px;
	background-color: #EDF6F6;
	padding: 15px;
	margin: 7px;
	width: 500px;
}

#album-details ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

#album-details li {
	font-size: 0.8em;
}


#cart {
	margin:0;
	padding:0;   
	position:absolute;
	top:95%;
	font-size: 0.8em;
	width: 90%;
}

.bug {
  	-moz-border-radius: 10px;
	background-color: #EDF6F6;
	padding: 5px;
	margin: 0;
	float: right;
	font-size: 0.8em;
}

#notification {
	visibility: hidden;
}

#top-albums {
	float: left;
  	-moz-border-radius: 10px;
	background-color: #EDF6F6;
	padding: 15px;
	margin: 7px;
	width: 300px;
}


#top-albums ol {
	font-size: 0.8em;
}

#top-albums h2 {
	color: rgb(78, 178, 202);
	font-size: 2.0em;
}

.download {
	float: left;
  	-moz-border-radius: 10px;
	background-color: #EDF6F6;
	padding: 15px;
	margin: 7px;
	width: 300px;
}

.download img{
	float: left;
}

img.logo {
	float: left;
	width: 80px;
}

#search-box {
	float: right;
	 padding: 10px;
	 margin: 7px;
	 -moz-border-radius: 10px;
	 border: 1px solid #AFDBDA;
	font-size: 0.6em;
	width: 260px;
}

#search-results {
	float: left;
  	-moz-border-radius: 10px;
	background-color: #EDF6F6;
	padding: 15px;
	margin: 7px;
	width: 500px;
}

.tag {
	font-size: 0.7em;
	font-style: italic;
}