<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Songbird Web API Sample Pages</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css" media="screen">
		body {
			font-family:sans-serif;
			padding:0 32px;
		}
	</style>
</head>

<body>
<h1>Songbird Web API Sample Pages</h1>
<ol>
<li><a href="test-remoteAPI_01.html">Songbird Global object creation property access</a></li>
<li><a href="test-remoteAPI_02.html">Binding of metadata to html objects</a></li>
<li><a href="test-remoteAPI_03.html">Bind Dataremote Directly</a></li>
<li><a href="test-remoteAPI_04.html">Binding of metadata to a js nsIObserver</a></li>
<li><a href="test-remoteAPI_05.html">Playback Control</a></li>
<li><a href="test-remoteAPI_06.html">Binding of metadata to a js nsIObserver</a></li>
<li><a href="test-remoteAPI_07.html">RemoteCommand registration, object access, callbacks</a></li>
<li><a href="test-remoteAPI_08.html">Library creation based on Domain and Path and site page is loaded from</a></li>
<li><a href="test-remoteAPI_09.html">Creation of MediaList from a Library and setting as webplaylist</a></li>
<li><a href="test-remoteAPI_10.html">Excercise the Remote Library API</a></li>
<li><a href="test-remoteAPI_11.html">Download track to the users library</a></li>
<li><a href="test-remoteAPI_12.html">Creation of MediaList from a Library and setting as webplaylist</a></li>
<li><a href="test-remoteAPI_playlistClick.html">Adding event handlers to playlist clicks</a></li>
</ol>
</body>
</html>
