body {
	margin: 0;
	padding: 0;
	font-size: 70%;
}

body b {
	font-weight:normal !important;
}

.time {
	color: grey;
	padding-left: 1em;
	padding-right: 5px;
}

div.row-even,
div.row-odd {
	padding: 5px 1.2em .5em 1em;
	clear: both;
	cursor: pointer;
	overflow: hidden;
}

div.metadata-flash img,
div.metadata-rss img,
div.metadata-review img {
	width: 10px;
	height: 10px;
	vertical-align:middle;
}
div.metadata-flash{
	margin-left: 106px;
}
div.metadata-rss, 
div.metadata-review {
	margin-left: 21px;
}

img.favicon-flash {
	padding-left: 5px;
}
img.favicon {
	float: left;
	height: 16px;
	width: 16px;
}
img.thumbnail {
	float: left;
	width: 80px;
}
div.row-even .time,
div.row-odd .time {
	font-size: 80%;
	white-space: nowrap;
}
div.metadata-flash .time {
	padding-left: 0;
}

img.legend {
	padding-left: 3px;
}
