/* General classes used by all iframes */
body {
	font-family:Arial,Helvetica,FreeSans,sans-serif;
	font-size:80.0%;
	line-height:1.25;
	margin:10px;
}
a {
	text-decoration:none;
	outline:0;
}
a:hover {
}
img {
	border:0;
}

img.clickable {
	cursor:pointer;
}

