iframe#mashTape-flash-index,
iframe#mashTape-review-index,
iframe#mashTape-rss-index {
	width: 300px;
	min-width: 100px;
}

.mashTape-splitter {
	background-color: rgb(220,220,220);
	background-image: url(chrome://songbird/skin/base-elements/bg-splitter-vertical.png) !important;
	background-position: center center;
	background-repeat: repeat-y !important;
	border-left: 1px solid rgb(161,161,161) !important;
	border-right: 1px solid rgb(161,161,161) !important;
	width: 1px !important;
}
