@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menu/menuitem ::::: */

menu,
menuitem {
  -moz-appearance: menuitem !important;
  padding: 0 !important;
}

menu[disabled="true"],
menuitem[disabled="true"],
menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"] {
    opacity: 1 !important;
}

menu[disabled="true"] > label,
menuitem[disabled="true"] > label,
menu[_moz-menuactive="true"][disabled="true"] > label,
menuitem[_moz-menuactive="true"][disabled="true"] > label {
    color: GrayText !important;
}

menu > label, menuitem > label, menubar > label {
    -moz-appearance: menuitemtext !important;
    color: MenuText !important;
    font: -moz-window !important;
}

.menu-accel,.menu-iconic-accel {
    color: GrayText;
    font: -moz-window !important;
}

.menu-iconic-left {
    -moz-appearance: menuimage !important;
}

menuitem[type="checkbox"] {
    -moz-appearance: checkboxmenuitem !important;
}
menuitem[type="checkbox"] > .menu-iconic-left {
  -moz-appearance: menucheckbox !important;
}
menuitem[type="checkbox"] > label, menuitem[type="radio"] > label, .menu-iconic-text {
    -moz-appearance: none !important;
}


menuitem[type="radio"] {
    -moz-appearance: radiomenuitem !important;
}
menuitem[type="radio"] > .menu-iconic-left {
    -moz-appearance: menuradio !important;
}

/* ..... menu arrow box ..... */

.menu-right {
  -moz-appearance: menuarrow !important;
}
/* ::::: menu/menuitems in menubar ::::: */

#main-menubar {
    margin: 1px 0px;
}

#main-menubar > menu > .menubar-text {
  -moz-appearance: none !important;
}
#main-menubar > menu > .menubar-text:hover {
  /*no work*/
}
/* ..... internal content .... */

.menubar-left,
.menubar-text {
padding:0px;
margin:0px;
}




/* ::::: menu/menuitems in popups ::::: */

menupopup > menu,
popup > menu,
menupopup > menuitem,
popup > menuitem {
/*  padding: 0px 3px 2px 3px !important;*/
  max-width: 42em;
  min-height: 18px;
}

menupopup > menu[_moz-menuactive="true"],
menupopup > menuitem[_moz-menuactive="true"],
popup > menu[_moz-menuactive="true"],
popup > menuitem[_moz-menuactive="true"] {
}

/* ::::: menu/menuitems in menulist popups ::::: */

.menulist-menupopup > menuitem,
menulist > menupopup > menuitem,
.menulist-menupopup > menu,
menulist > menupopup > menu {
  padding-right: 8px !important;
  max-width: none;
}

.menulist-menupopup > menuitem > .menu-iconic-left,
menulist > menupopup > menuitem > .menu-iconic-left,
.menulist-menupopup > menu > .menu-iconic-left,
menulist > menupopup > menu > .menu-iconic-left {
/*  margin: 0 2px 0 0 !important;*/
}

/* ::::: checked menuitems :::::  */

/* XXXstevel
 * Checked menuitems use background-image to set the checked image style,
 * unfortunately we use background-image for hovered/selected rows, which
 * means we can't highlight checked items.  suck.  XR 1.9.2 will give us the
 * ability to use multiple bg-images, so we should fix this back up in 
 * Madonna/Nirvana, but for now - we approximate it with the purplish color
 * from bg-selected-row.png
 */


/* ::::: menuseparator ::::: */

menuseparator {
    -moz-appearance: menuseparator !important;
}

/* ::::: menulist popup ::::: */
menulist > menupopup {
}

/* ::::: autocomplete ::::: */

.autocomplete-history-popup > menuitem {
  max-width: none !important;
}


/* ::::: tree column picker ::::: 
taken out in lieu of context menu (right-click) on the treecols themselves
.treecell-popupcell-menu {
  list-style-image: url("chrome://global/skin/columnselect.gif");
  -moz-image-region: auto;
}
*/
