Source: nightingale
Section: sound 
Priority: optional
Maintainer: Martin Giger <zm.redaktion@gmail.com>
Build-Depends:
 autoconf,
 autotools-dev,
 debhelper (>= 9),
 libasound2,
 libdbus-glib-1-dev,
 libgnomevfs2-dev,
 libgstreamer-plugins-base0.10-dev,
 libgtk2.0-dev,
 libidl0,
 libsqlite0-dev,
 libtag1-dev,
 libnotify-dev,
 libnspr4-dev,
 libxext-dev,
 libxt6,
 libnspr4-dev,
 python (>=2.6),
 unzip,
 wget,
 zip
Standards-Version: 3.9.4
Homepage: http://www.getnightingale.com

Package: nightingale
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 gstreamer0.10-plugins-good
Suggests:
 gstreamer0.10-plugins-bad,
 gstreamer0.10-plugins-ugly,
 gstreamer0.10-ffmpeg,
 gtk2-engines-pixbuf,
 gnome-settings-daemon
Provides: nightingale
Replaces: nightingale, nightingale-nounity
Description: Play, manage and organize digital media
 This desktop media player is a digital jukebox and Web browser mash-up.
 It supports extensions and feathers (skins). Like Firefox/Iceweasel,
 it is built from the Mozilla cross-platform and open source framework,
 and based on Songbird.
