Source: nightingale
Section: sound 
Priority: optional
Maintainer: David Rogers <ezekiel000@lavabit.com> 
Build-Depends: cdbs, debhelper (>= 5), libsqlite0-dev, libtag1-dev, libgstreamer-plugins-base0.10-dev, zip, libdbus-glib-1-dev, autoconf, build-essential, subversion, libgtk2.0-dev
Standards-Version: 3.9.1
Homepage: http://www.getnightingale.com

Package: nightingale
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iceweasel|firefox, gstreamer0.10-plugins-good
Description: Nightingale is a desktop media player
 a digital jukebox and Web browser mash-up. It supports extensions
 and skins feathers. Like Firefox/Iceweasel, it is built from the Mozilla,
 cross-platform and open source framework, based on Songbird.
