#lastfmDeck {
  padding: 5px;
}

#lastfmDeck button {
  min-height: 2em;
}

#lastfmLoginError {
  color: red;
  visibility:collapse;
}

/* the avatar image */
#lastfmImage {
  width: 64px;
  height: 64px;
  border: 2px solid rgb(80,80,80);
  margin-right:4px;
  background-image:url('default-avatar.png');
  background-repeat:no-repeat;
  background-position:center center;
}
#lastfmImage:hover {
  border-color: #1694d9;
  cursor:pointer;
}

/* the next scrobbling line */
#lastfmNextTrack, #lastfmNextTime {
  font-style: italic;
}

/* the faceplate */
#lastfmFaceplate {
  margin: 0px !important;
  padding: 1px 4px !important;
  max-height: 18px !important;
  
  background-image:url('bg-faceplate-buttons.png');
  background-repeat:no-repeat;
  background-position:left center;
}

#lastfmFaceplateLove {
  list-style-image: url('button-love.png');
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  width: 16px;
  height: 16px;
}
#lastfmFaceplateLove:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
#lastfmFaceplateLove:active {
}
#lastfmFaceplate[loveban=love] #lastfmFaceplateLove {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
#lastfmFaceplate[loveban=love] #lastfmFaceplateLove:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

#lastfmFaceplateBan {
  list-style-image: url('button-ban.png');
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  width: 16px;
  height: 16px;
}
#lastfmFaceplateBan:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
#lastfmFaceplateBan:active {
}
#lastfmFaceplate[loveban=ban] #lastfmFaceplateBan {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
#lastfmFaceplate[loveban=ban] #lastfmFaceplateBan:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
