/** 
************************************************************************************************************************************************
MINI PLAYER SKIN
Anything with #mini refers to the skin of the mini player.
************************************************************************************************************************************************
*/  

window#mini  
{ 
  background-color: transparent !important;
}

#frame_mini
{
  -moz-appearance: none !important;
  -moz-border-radius: 10px !important;
  background-color: #000 !important;
  padding: 2px 2px 1px 2px !important;
  height: 22px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
}

#mini_resize_w,
#mini_resize_e
{
  -moz-appearance: none;
  height: 10px !important;
  width: 1px !important;
}

/* the back button */
#mini_btn_back
{
  width: 50px !important;
  height: 18px !important;
  background-image: url(mini/mini.btn.back.n.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}
#mini_btn_back:hover
{
  width: 50px !important;
  height: 18px !important;
  background-image: url(mini/mini.btn.back.h.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}
#mini_btn_back[disabled="true"]
{
  background-image: url(mini/mini.btn.back.n.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}
#mini_btn_back:active
{
  background-image: url(mini/mini.btn.back.a.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}

/* the play button */

#mini_btn_play
{
  width: 70px !important;
  height: 18px !important;
  background-image: url(mini/mini.btn.play.n.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  margin: 0px 1px 0px 1px !important;
}
#mini_btn_play:hover
{
  width: 70px !important;
  height: 18px !important;
  background-image: url(mini/mini.btn.play.h.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}
#mini_btn_play[disabled="true"]
{
  background-image: url(mini/mini.btn.play.d.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}
#mini_btn_play:active
{
  background-image: url(mini/mini.btn.play.a.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}

/* the pause button */
#mini_btn_pause
{
  width: 70px !important;
  height: 18px !important;
  background-image: url(mini/mini.btn.pause.n.png) !important;
  background-repeat: no-repeat !important;
  margin: 0px 1px 0px 1px !important;
  background-color: transparent !important;
}
#mini_btn_pause:hover
{
  background-repeat: no-repeat !important;
  background-image: url(mini/mini.btn.pause.h.png) !important;
}
#mini_btn_pause[disabled="true"]
{
  background-image: url(mini/mini.btn.pause.d.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}
#mini_btn_pause:active
{
  background-image: url(mini/mini.btn.pause.a.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}

/* the fwd button */
#mini_btn_fwd
{
  width: 50px !important;
  height: 18px !important;
  background-image: url(mini/mini.btn.fwd.n.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}
#mini_btn_fwd:hover
{
  width: 50px !important;
  height: 18px !important;
  background-repeat: no-repeat !important;
  background-image: url(mini/mini.btn.fwd.h.png) !important;
  background-color: transparent !important;
}
#mini_btn_fwd[disabled="true"]
{
  background-image: url(mini/mini.btn.fwd.d.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}
#mini_btn_fwd:active
{
  background-image: url(mini/mini.btn.fwd.a.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}


/* the seekbar slider */
#songbird_seekbar_slider.miniplayer
{
  -moz-appearance: none !important; /* grrrr! */
  height: 6px !important;
  width: auto !important;
}
#mini_seekbar
{
  -moz-appearance: none !important;
  height: 6px !important;
  border-bottom: 1px solid #000 !important;
  
}
#mini_seekbar_thumb
{
  -moz-appearance: none !important; /* grrrr! */
  width: 11px !important;
  height: 6px !important;
  background-image: url(mini/seekbar_thumb.png) !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
}
#mini_seekbar_thumb > gripper
{
  -moz-appearance: none !important; /* grrrr! */
  height: 6px !important;
}
#mini_seekbar_progress
{
  -moz-appearance: none !important;
  height: 6px !important;
}
#mini_seekbar_progress .progress-bar
{
  -moz-appearance: none !important; /* grrrr! */
  background-image: url(mini/seekbar_progress.png) !important;
  height: 6px !important;
}
#mini_seekbar_progress .progress-remainder
{
  -moz-appearance: none !important; /* grrrr! */
  background-image: url(mini/seekbar_remainder.png) !important;
  height: 6px !important;
}
#songbird_seekbar.miniplayer
{
  -moz-appearance: none !important; /* grrrr! */
  height: 6px !important;
  border: none !important;
  background-color: transparent !important;
}

/* mini dashboard */

#mini_dash
{
  -moz-appearance: none !important; /* grrrr! */
  height: 18px !important;
  background-image: url(mini/mini.bkg.dashboard.png) !important;
  background-repeat: repeat-x !important;
  padding: 0px 3px 0px 3px !important;
}

#mini_dash_e
{
  -moz-appearance: none !important; /* grrrr! */
  width: 4px !important;
  height: 18px !important;
  background-repeat: no-repeat !important;
  background-image: url(mini/mini.bkg.dashboard_e.png) !important;
}

#mini_dash_w
{
  -moz-appearance: none !important; /* grrrr! */
  height: 18px !important;
  width: 4px !important;
  background-repeat: no-repeat !important;
  background-image: url(mini/mini.bkg.dashboard_w.png) !important;
}

/* volume */

#mini_volume > #mini_volume_box
{
  -moz-appearance: none!important;
  width: 145px !important;
  height: 18px !important;
  background-color: #000 !important;
  padding: 2px 0px 2px 7px !important;
}

/*
*/
#mini_volume > progress_slider,
#mini_volume gripper
{  
  -moz-appearance: none !important; /* grrrr! */
  background-image: none !important;
  list-style-image: none !important;
  padding: 0 0 0 0 !important;
  border: none !important;
  background-color: #000 !important;
  height: 14px !important;
}

#mini_volume_thumb
{
  width: 36px !important;
  height: 14px !important;
  background-image: url(default/volume_thumb.png) !important;
  background-color: #000 !important;
  background-repeat: no-repeat !important;
}

#mini_volume_progress
{
  top: 0px !important;
  left: 0px !important; /* previously 20px, 1 thumb-width in */
  width: 104px !important; /* previously 78px, 2 thumb-widths less than the actual seekbar + 4 to keep us always under the thumb */
  height: 14px !important;
  background-color: #000 !important;
}
#mini_volume_progress > .progress-bar
{
  -moz-appearance: none !important; /* grrrr! */
  background-image: url(default/volume_progress_bar.png) !important;
  background-color: #000 !important;
}
#mini_volume_progress > .progress-remainder
{
  -moz-appearance: none !important; /* grrrr! */
  background-image: url(default/volume_progress_remainder.png) !important;
  background-color: #000 !important;
}

#mini_volume_e
{
  background-image: url(default/volume_e.png) !important;
  margin: 0px 0px 0px 0px !important;
  height: 5px !important;
  width: 3px !important;
  background-repeat: no-repeat !important;
  background-color: #000 !important;
}
#mini_volume_w
{
  background-image: url(default/volume_w.png) !important;
  margin: 0px 0px 0px 0px !important;
  height: 5px !important;
  width: 3px !important;
  background-repeat: no-repeat !important;
  background-color: #000 !important;
}

/* Restore */
#mini_btn_max
{
  width: 16px !important;
  height: 16px !important;
  margin-left: 3px !important;
  background-image: url(mini/mini.btn.max.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  background-position: center center;
}

/* Close */
#mini_close
{  
  width: 16px !important;
  height: 16px !important;
  background-image: url(mini/mini.btn.close.png) !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  background-color: transparent !important;
}


/* the texties */
#mini_text_title
{
  font-family: Tahoma, Sans-Serif !important;
  min-width: 100px !important;
  height: 13px !important;
  color: #E4EADF !important;
  overflow: hidden;
}
#mini_text_time,
#mini_text_artist,
#mini_text_album,
#mini_text_time_total,
#mini_text_time_elapsed,
#mini_text_time_t_txt
{
  font-family: Tahoma, Sans-Serif !important;
  width: auto !important;
  height: 13px !important;
  color: #E4EADF !important;
  overflow: hidden;
}

