
toolbarpalette {
}

toolbar,
menubar {
  -moz-box-align:center;
}
menubar {
}

.toolbar-holder {
}  

toolbar[mode="icons"] .toolbarbutton-text,
toolbar[mode="text"] .toolbarbutton-icon {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-1 > .toolbarbutton-text, toolbar[mode="text"] .toolbarbutton-1 > stack > toolbarbutton > .toolbarbutton-text {
/*  margin: 4px;*/
}


toolbarseparator {
  min-width:1px !important;
  min-height:16px !important;
  padding:0px;
  margin:0px;
  -moz-appearance:none;
}


/* ::::: toolbarpaletteitem ::::: */

toolbarpaletteitem {
  cursor: -moz-grab;
}

toolbar[iconsize="small"] toolbarpaletteitem[type="spacer"] {

}

toolbarpaletteitem[type="spacer"] {

}

.toolbarpaletteitem-box[type="spacer"] {
}

.toolbarpaletteitem-box[type="spring"] {
}

.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
}

.toolbarpaletteitem-box[type="spacer"][place="toolbar"],
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
}

.toolbarpaletteitem-box[type="separator"][place="palette"] {
}

.toolbarpaletteitem-box[type="spacer"][place="palette"],
.toolbarpaletteitem-box[type="spring"][place="palette"] {
}

/* ..... drag and drop feedback ..... */

toolbarpaletteitem[dragover="left"] {
}

toolbarpaletteitem[dragover="right"] {
}

toolbar[iconsize="small"] toolbarspacer {
}

toolbarspacer {
}

