body {
	font-family:Arial,Helvetica,FreeSans,sans-serif;
	font-size:62.5%;
	line-height:1.25;
	color:#777;
	background:#fff;
	margin:10px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 630px;
}

a {
	text-decoration:none;
	outline:0;
}
a:hover {
	text-decoration:underline;
}
img {
	border:0;
}

/* ALPHA/DATE HEADERS */
.letterIndexContainer{
	width:48px;
	font-size:3.6em;
	text-align:center;
	color: rgb(185,185,185);
	background-color: rgb(225,224,232);
	border:1px solid rgb(212,212,219);
	float:left;
}
.dateIndexContainer{
	width:50px;
	text-align:center;
	float:left;
}
.dateIndex-box{
	width:48px;
	color:#aaa;
	background:#f3f3f3;
	padding:2px 0 3px;
	border:1px solid #ddd;
	margin-bottom:2px;
	cursor:pointer;
}
.dateIndex-box:hover{
	color:#fff;
	background:#ccc;
	border-color:#ccc;
}
.dateIndex-month{
	font-size:1.1em;
	line-height:1.27;
}
.dateIndex-date{
	font-size:3em;
	line-height:1;
}
.dateIndex-day{
	font-size:1.1em;
	line-height:1.27;
	color:#aaa;
	margin-bottom:20px;
}

/* header */
.header > img#concerts-logo {
  float: left;
}
.header > img#songkick-logo {
  cursor: pointer;
  padding-left: 5px;
  padding-bottom: 2px;
  float: right;
}

/* sub-header */
.sub-header {
  font-size: 1.6em;
  text-align: right;
  margin-bottom: 4px;
  clear: both;
}
.num-concerts,
.location {
  float: left;
}
.num-concerts {
  margin-top: 5px;
  vertical-align: middle;
}
.location {
  -moz-border-radius: 5px;
  background-color: rgb(240,240,242);
  padding: 5px;
  margin-left: 4px;
  color: rgb(100,85,146);
}
.location-change {
  -moz-border-radius: 2px;
  font-size: .55em;
  color: white;
  padding: 2px 5px 2px 5px;
  margin-left: 5px;
  margin-top: 3px;
  background-color: transparent;
  vertical-align: 3px;
  cursor: pointer;
  background-image: url('chrome://songbird/skin/base-elements/bg-button.png');
  background-repeat: repeat-x;
  background-position: center 0px;
}
.location-change:hover {
  background-position: center -25px;
}
.location-change:active {
  background-position: center -50px;
}
.filter {
  font-size: .6em;
  padding-right: 5px;
  padding-top: 10px;
  vertical-align: middle;
}
.filter input {
  vertical-align: middle;
}

/* NAV */
.concerts-nav {
  -moz-border-radius: 0px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  background-color: rgb(98,98,106);
  padding: 5px 10px 5px 10px;
  color: rgb(180,180,184);
  margin-bottom: 1px;
  font-size: 12px;
  text-align: right;
}
.concerts-nav-view {
  color: rgb(180,180,184);
  float: left;
  margin-top: 3px;
}
.concerts-nav-selected {
  color: white !important;
  margin-bottom: -15px;
  height: 25px;
  background-image: url(chrome://concerts/skin/notch.png);
  background-position: center 16px;
  background-repeat: no-repeat;
}
.concerts-nav-letter-link,
.concerts-nav-date-link {
  color: white;
}
.concerts-nav-hover {
  color: rgb(209,191,255) !important;
  cursor: pointer;
}
.concerts-nav-concerts,
.concerts-nav-artists {
  color: rgb(180,180,184);
  margin-top: 3px;
  padding-left: 6px;
  float: left
}
.concerts-nav-concerts {
  padding-right: 6px;
}
.concerts-nav-artists:not(.concerts-nav-selected) {
  border-left: 1px solid rgb(142,142,142);
}
.concerts-nav-concerts:not(.concerts-nav-selected) {
  border-right: 1px solid rgb(142,142,142);
}

.concerts-nav-letter,
.concerts-nav-date {
  float: right;
  padding-left: 5px;
  font-size: 15.6px;
}
.concerts-nav-letter {
  padding-left: 5px;
}
.concerts-nav-date {
  padding-left: 15px;
}


/* LISTINGS */
#concerts-contents {
  -moz-border-radius: 0px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  background-color: rgb(234,233,241);
  padding: 10px;
}

.indexDiv {
	clear:both;
}

.concertListing{
	padding-left:20px;
	/* border-left:1px solid #eee; */
	margin-left:60px;
}
.concertListingDate{
}
.concertListing .artistBlock{
	margin-bottom:20px;
}
.concertListing .artistBlock .mainArtistName{
	font-size:2.4em;
	line-height:1.5;
}
.concertListing .artistBlock .mainArtistName a{
  color: rgb(80,47,126);
}
.concertListing .artistBlock .mainArtistName a:hover{
}
.concertListing .playLink{
	margin-left:.5em;
	cursor:pointer;
}
.concertListing table{
	width:100%;
	margin:0;
	border-collapse:collapse;
}
.concertListing th{
	font-size:1.1em;
	font-weight:normal;
	line-height:1.27;
	text-align:left;
	color:#777;
	padding:0 3px 3px;
	/* border-bottom:1px solid #e3e3e3; */
}
.concertListing td{
	font-size:1.3em;
	line-height:1.31;
	vertical-align:top;
	padding:3px 3px 4px;
	border-bottom:1px solid rgb(222,221,228);
}
td.tickets, td.gcal {
	width:7em;
	text-align:center;
	white-space: nowrap;
}
.get-tickets{
  -moz-border-radius: 2px;
  font-size: .85em;
  color: white;
  padding: 2px 5px 2px 5px;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: transparent;
  vertical-align: top;
  background-image: url('chrome://songbird/skin/base-elements/bg-button.png');
  background-repeat: repeat-x;
  background-position: center 0px;
}
.get-tickets:hover{
	text-decoration:none;
  background-position: center -25px;
}
.get-tickets:active{
	text-decoration:none;
  background-position: center -50px;
}
td.date{
	width:10em;
}
th.gcal, td.gcal {
	width:1.5em;
	text-align: center;
}
td.venue{
	width:15em;
}

/* FOOTER */
#ft{
	font-size:1.1em;
	line-height:1.27;
	color:#aaa;
	padding:4px 5px;
	margin-top:20px;
	clear:both;
}
#ft a{
}
#ft:after{
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
	content:".";
}
.poweredBy{
	width:45%;
	float:left;
}
.lastUpdated{
	width:45%;
	text-align:right;
	float:right;
}
