#downloadManager {

}

/* Download View */
#downloadView {
}

/* Download View Items */
richlistitem[type="download"] {
}

richlistitem[type="download"][alternate="true"]:not([selected="true"]) {
}

richlistitem[type="download"] .name {
}

richlistitem[type="download"] .dateTime {
}

.mini-button {
  list-style-image: url(chrome://mozapps/skin/downloads/buttons.png);
}

.mini-button > .button-box {
  padding: 0 !important;
}

.cancel {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
.pause {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
.resume {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}
.retry {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

.blockedIcon {
  list-style-image: url(chrome://global/skin/icons/Error.png);
}

/* prevent flickering when changing states */
.downloadTypeIcon {
  min-height: 32px;
  min-width: 32px;
}

#searchbox[empty] {

}
