window {
  background-image:url('default-displaypane-empty.png');
}


.arrow {
  background-image:url('default-displaypane-arrow.png');
  background-repeat:no-repeat;
  background-position:center top;
  height:16px;
  width:16px;
}


.line {
  background-image:url('default-displaypane-line.png');
  background-position:center center;
}
.line.vertical {
  background-repeat:repeat-y;
  width:16px;
}
.line.horizontal {
  background-repeat:repeat-x;
  height:16px;
}


.corner {
  background-image:url('default-displaypane-curve.png');
  background-repeat:no-repeat;
  height:16px;
  width:16px;
}
.corner.bottomToRight {
  background-position:left top;
}
.corner.leftToTop {
  background-position:right bottom;
}
.corner.none {
  background-image:none;
}

.instructions {
  padding-top:4px;
}
.instructions>label {
  text-align:center;
  color:rgb(0,0,0);
  font-size:10px;
  margin:0;
}
.instructions>label.instruction {
  font-size:12px;
  margin:4px;
}
