.info-panel-bar-scrollbox {
  background-image:url('chrome://songbird/skin/base-elements/bg-generic-bar-dark.png');
  background-repeat:repeat-x;
  background-position:center top;
}

sb-info-panel[mediatype="audio"] .info-panel-icon {
  list-style-image: url('chrome://songbird/skin/device/music.png');
}
sb-info-panel[mediatype="video"] .info-panel-icon {
  list-style-image: url('chrome://songbird/skin/device/video.png');
}
sb-info-panel[state="success"] .info-panel-icon {
  list-style-image: url('chrome://songbird/skin/info-bar/check.png');
}
sb-info-panel[state="error"] .info-panel-icon {
  list-style-image: url('chrome://songbird/skin/info-bar/error.png');
}
